.menu-principal {
  height: 200px;

  display: flex;
  /* Ordenamos de manera VERTICAL */
  flex-direction: column;
  /* Le damos una separacion en el eje principal */
  justify-content: space-between;
  /* Los alineamos a la izquiera (eje secundario) */
  align-items: start;
}
