* {
  box-sizing: border-box;
}

.flex-contenedor {
  background-color: lightblue;
  height: 200px;
  width: "100%";
  display: flex;

  /* flex columm significa que
   mi eje principal es "VERTICAL" */
  /* flex row significa que
   mi eje principal es "HORIZONTAL" */
  flex-direction: column;
  /* flex-direction: row; */

  /* justify-content son propiedades
   que se aplican sobre el eje principal */
  justify-content: space-around;

  /* align-items son propiedades
  que se aplican sobre el eje secundario */
  align-items: end;
}

.elemento1 {
  margin: 10px;
}
.elemento2 {
  margin: 50px;
}

.bloque {
  display: block;
  background-color: lightblue;

  /* Contenido */
  width: 200px;
  height: 100px;
  /* Relleno */
  padding: 5px;
  /* Bordes */
  border-width: 5px;
  border-style: solid;
  border-color: red;
  /* Margen */
  margin: 10px;
}

.linea {
  display: inline;
  margin: 10px;
  background-color: lightcoral;
}

.bloque-linea {
  display: inline-block;
  background-color: lightcyan;
  margin: 10px;
}

.oculto {
  display: none;
}
